{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended" // Ensure this is always the last
  ],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "off",
    "react/prop-types": 0,
    "import/no-unresolved": "off"
  }
}
